APP_NAME="Refugio Gastronómico"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=America/Lima
APP_URL=https://refugiogastronomico.pe
APP_DOMAIN=refugio.gcbprojects.site
LETSENCRYPT_EMAIL=devops@gcbprojects.site

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_PE

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=refugio_gastronomico
DB_USERNAME=root
DB_PASSWORD=supersecreto
DB_ROOT_PASSWORD=supersecreto

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=tls
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS="hola@refugiogastronomico.pe"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

REFUGIO_SOURCE_URL=https://refugiogastronomico.pe
REFUGIO_SCRAPER_DELAY_MS=500
